.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

.card-item {
  list-style-type: none;
  background-color: #ffffff;
  border-radius: 18px;
  padding: 32px 24px;
  margin: 36px 24px;
  max-width: 320px;
}

.card-title {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  color: #171f46;
}

.card-description {
  font-family: 'Roboto';
  font-size: 14px;
  color: #64748b;
}

.img-container {
  display: flex;
  justify-content: flex-end;
}

.card-img {
  height: 80px;
  width: 80px;
}
